<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>멍냥스토어</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
<th:block th:replace="~{layouts/header :: header(isLogin = ${login})}"></th:block>
<!--여기는 반복문 형태로 바꿀것!-->
<section id="products">
    <div class="product-column">
        <a href="product1.html" class="product">
            <img src="images/product1.jpg" alt="제품 1">
            <div class="product-info">
                <h3>강아지용 쿠션 침대</h3>
                <p class="price">가격: 30,000원</p>
            </div>
        </a>
        <a href="product2.html" class="product">
            <img src="images/product2.jpg" alt="제품 2">
            <div class="product-info">
                <h3>고양이 츄르 그릇</h3>
                <p class="price">가격: 20,000원</p>
            </div>
        </a>
        <a href="product3.html" class="product">
            <img src="images/product3.jpg" alt="제품 3">
            <div class="product-info">
                <h3>강아지 장난감</h3>
                <p class="price">가격: 15,000원</p>
            </div>
        </a>
        <a href="product4.html" class="product">
            <img src="images/product4.jpg" alt="제품 4">
            <div class="product-info">
                <h3>고양이 캣타워</h3>
                <p class="price">가격: 50,000원</p>
            </div>
        </a>
        <a href="product5.html" class="product">
            <img src="images/product5.jpg" alt="제품 5">
            <div class="product-info">
                <h3>강아지 간식</h3>
                <p class="price">가격: 10,000원</p>
            </div>
        </a>
    </div>
</section>

<th:block th:replace="~{layouts/footer :: footer}"></th:block>
</body>
</html>

<script>
    document.getElementById('search-button').addEventListener('click', function () {
        searchProducts();
    });

    document.getElementById('search').addEventListener('keypress', function (event) {
        if (event.key === 'Enter') {
            searchProducts();
        }
    });

    function searchProducts() {
        const query = document.getElementById('search').value.toLowerCase();
        const products = document.querySelectorAll('.product');

        products.forEach(product => {
            const productName = product.querySelector('.product-info h3').textContent.toLowerCase();
            if (productName.includes(query)) {
                product.style.display = 'block'; // 검색어가 포함된 제품은 보이기
            } else {
                product.style.display = 'none'; // 검색어가 포함되지 않은 제품은 숨기기
            }
        });
    }
</script>
